Use_Label=true
Show_Values=true
Show_Bars=true
Colorize_Values=true
Color_In=rgb(115,210,22)
Color_Out=rgb(52,101,164)
Text=Rede
Network_Device=wlp3s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false

