[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=RaDiX Community
Name[pt_BR]=Comunidade do RaDiX
Exec=sh -c 'xdg-open https://gitter.im/radix-community/support;xdg-open https://quire.io/w/RaDiX'
Icon=gtk-help
Categories=Network;
