Package: wavosaur
Version: 1.3-2
Architecture: amd64
Maintainer: Wavosaur Team <contact@wavosaur.com>
Depends: wine-staging, wineasio
Section: audio
Priority: optional
Homepage: https://www.wavosaur.com/
Description: Wavosaur.
